.container {
    max-width: 800px;
    margin: 0px auto;
    padding: 20px;

}

.imagen-galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax, minmax(200px, 1fr));
    grid-gap: 10px;
    justify-items: center;
    margin-top: 20px;
}




.imagem-galeria img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3 ease;
}